<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div ask
                askobj="ask"
                askid="askid">
            </div>

            <div ng-repeat="item in asks">
              <span ng-if="item.number==askid">
                <div id="answers">
                  <div ng-repeat="answer in item.answers"
                    answer
                    descr="{{answer.answer}}"
                    correctness="{{answer.correct}}"
                    index="{{$index+1}}"
                    numeralkeys="setNumeralKeys(index, cb)">
                  </div> <!-- ng-repeat -->
                </div>
              </span>
            </div> <!-- ng-repeat -->

            <p>-----------------------------------</p>
  <p ><a id="prev" ng-href="{{ back }}" class="btn btn-info btn-default">Предыдущий (q)</a>
  <a id="next" ng-href="{{ next }}" class="btn btn-info btn-default">Следующий (w)</a></p>
        </div> <!-- col-md-8 -->
    </div> <!-- row -->
</div> <!-- container-fluid -->
