<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div ask="true_class"
                 asks="asks"
                 askid="askid"
                 tr="true_class"
                 f="false_class">
            </div>

            <div ng-repeat="item in asks">
              <span ng-if="item.number==askid">
                <div id="answers">
                  <div ng-repeat="answer in item.answers"
                    answer
                    descr="{{answer.answer}}"
                    correctness="{{answer.correct}}"
                    index="{{$index+1}}"
                    askid="askid"
                    tr="true_class"
                    f="false_class"
                    numeralkeys="setNumeralKeys(index, cb)">
                  </div>
                </div>
              </span>
            </div>

            <p>-----------------------------------</p>
  <p ><a id="prev" ng-href="{{ back }}" class="btn btn-info">Предыдущий (q)</a>
  <a id="next" ng-href="{{ next }}" class="btn btn-info">Следующий (w)</a></p>
        </div>
    </div>
</div>
